<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1"
        src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a <span id="js-rotating">Interesting, Friendly, Efficiently, Reliable</span> person</h4>
    <h5>Only died fish go with the flow</h5>
  </div>
  <div class="user-content">
    <p>
      Interested in building strong and modern applications with good code quality and maintainability.
    </p>
    <p>
      Doing the right things in the right way is my faith.
    </p>
  </div>
</div>